/* write your code here ... */
input {
	color: var(--color--body-foreground);
}
main {
	overflow: hidden;
	width: 50rem;
	border-radius: 0.2rem;
	display: flex;
	scroll-behavior: smooth;
}
form {
	width: 60%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1 0 60%;
}

label > span {
	font-size: 0.8rem;
}

label {
	display: flex;
	flex-direction: column;
}

label > img {
	width: 1.2rem;
}

label > input {
	color: var(--);
	background-color: var(--color--form-input-background);
}
label > input:invalid {
	background-color: var(--color--form-input-background--invalid);
}

button {
	background-color: var(--color--form-button-background);
	color: var(--color--form-button-foreground);
}

button:hover {
	background-color: var(--color--form-button-background--hover);
}

p {
	color: var(--color--form-paragraph-foreground);
}

a {
	color: var(--color--form-link-foreground);
}

section {
	width: 40%;
	padding: 2rem;
}

section > img {
	width: 16rem;
}

input,
button {
	outline: none;
	border: none;
	padding: 0.5rem;
	border-radius: 0.2rem;
}

label {
	position: relative;
}

label > img {
	top: 50%;
	left: -6%;
	position: absolute;
}
